MinisterstwoClient/MinisterstwoClient/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="wybraneslowo" />
  <xs:element name="GetMoney">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMoneyResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="wybraneslowo" minOccurs="0" name="GetAccountsResult" nillable="true" type="q1:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>